<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Home Task 11.0</title>
</head>
<body>

<h1>And his name is..... JOHN CENA!!1!11!!</h1>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/John_Cena_July_2018.jpg/250px-John_Cena_July_2018.jpg" alt="John Cena Picture" />

<div>
<p>
    <strong>Привет! Меня зовут <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D0%BD%D0%B0,_%D0%94%D0%B6%D0%BE%D0%BD">Джон Феликс Энтони Сина-младший.</a></strong><br>
    Джон Феликс Энтони Сина родился в Вест-Ньюбери, Массачусетс, 23 апреля 1977 года в семье Кэрол <del>(урожденная Люпьен)</del> и Джона Сины-старшего.<br>
    Его мать имеет английское и франко-канадское происхождение, а отец — <em>итальянское</em>.<br>
    Его дедушка по <mark>материнской линии</mark> — бейсболист Тони Люпьен.
</p>
</div>

</body>
</html>